@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap");
html, body {
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  text-shadow: 3px 3px 8px #060606, -3px -3px 8px #282828;
  height: 100%;
  margin: 0;
  scroll-snap-type: y mandatory;
  align-items: center;
  justify-content: center;
  background-color: #0f1923;
  //background-image: url(https://i.imgur.com/sBIaynb.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.section {
  height: 100%;
  scroll-snap-align: start;
  padding: 20px;
  margin-left: 300px;
}
hr {
  border: 0;
  height: 0;
  border-top: 1px rgb(61, 106, 255);
  border-bottom: 1px solid rgb(61, 106, 255);
}
iframe {
  justify-content: start;
  display: block;
  margin: 0 auto;
  border: 3px solid rgb(252, 70, 100);
  border-radius: 17px;
  overflow: hidden;
  z-index: 1;
}
p {
  text-align: center;
  margin: 0px;
  padding: 5px;
  font-size: 32px;
  font-weight: bold;
}
p2 {
  text-align: center;
  margin: 20px;
  padding: 10px;
  font-size: 32px;
  font-weight: bold;
  justify-content: center;
}
p3 {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  font-size: 32px !important;
  font-weight: bold;
}
ranks {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 1920px;
  padding: 20px;
  border: none;
  border-radius: 15px;
  padding: 15px;
  background: #0f1923;
  border: 3px solid rgb(252, 70, 100);
  font-size: medium;
  font-weight: bold;
  max-width: 1024px;
}
choice:hover {
  transform: scale(1.4);
}
choice {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0);
  color: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
  border-radius: 50px;
}
.flag-icon {
  width: 64px;
  height: 64px;
  vertical-align: middle;
  horizontal-align: middle;
}

.input {
  border-radius: 0px;
  padding: 10px 25px;
  background: transparent;
  max-width: 190px;
  pointer-events: none;
  color: white;
  border: 3px solid rgb(252, 70, 100);
  font-family: "Muli";
  padding: 0.9rem 1.8rem;
  font-size: 16px;
  font-weight: 700;
}

.input:active {
  box-shadow: 2px 2px 15px rgb(61, 106, 255) inset;
}

.container {
  height: 200px;
  position: relative;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background: none;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: none;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 5px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 5px;
}
.show {
  display: block;
}
.hide {
  display: none;
}
button {
 display: inline-block;
 padding: 0.9rem 1.8rem;
 font-size: 16px;
 font-weight: 700;
 color: white;
 border: 3px solid rgb(252, 70, 100);
 cursor: pointer;
 position: relative;
 background-color: transparent;
 text-decoration: none;
 overflow: hidden;
 z-index: 1;
 font-family: "Muli";
}

button::before {
 content: "";
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 background-color: rgb(252, 70, 100);
 transform: translateX(-100%);
 transition: all .3s;
 z-index: -1;
}

button:hover::before {
 transform: translateX(0);
}

.meme {
  position: absolute;
  top: 10640px;
  left: 300px;
}
.red {
  color: rgb(252, 70, 100);
}
